@import "../../mixin.module.scss";
.itemDetailContainer{ 
    @include display-config(flex,column,center,center);
    .backButton{
        font-size: 2rem;
        text-decoration: none;
        color: #ffffff;
        margin: 2rem 0;
    }
}
.detailsContainer{
    @include display-config(flex,column,center,center);
    text-align: center;
    max-width: 30rem;
    padding: 2rem;
    border-radius: 5%;
    box-shadow: 0.2rem 0.2rem 0.2rem  #f5f6f7;
    margin-top: 2rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.5) 3%, rgba(0,198,255,0.5) 16%, rgba(9,9,121,0.5) 100%);
    
    .detailText,.detailTitle{
        font-size: 2rem;
        color:#f8f8fc;
    }
    .detailText{
        text-transform: capitalize
    }
    .detailTitle{
        letter-spacing: 0.2rem;
        &:first-of-type{
            text-transform: uppercase;
            letter-spacing: 0.8rem;
            text-shadow: 0rem 0.3rem 1rem #ffffff;
        }
    }
}

