@import "../../app/mixin.module.scss";
.navBarContainer{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 36%, rgba(9,9,121,1) 90%);
    min-height: 10vh;
    
}
.brand{
    color: #ffffff;
    text-align: center;
}
.brand,.icon,.link{
    font-size: 2rem;
}
.containerNav{
    padding: 1rem;
    @media(max-width:575px){
        flex-direction: column;
    }
}
.itemsContainer{
    @include display-config(flex,row,flex-end,center);
    gap: 1rem;
    @media(max-width:575px){
        flex-direction: column;
    }
}
.icon{
    background-color: #ffffff;
}
.link{
    color: #ffffff;
    text-decoration: none;
}
